@page "/mauiTicket/{Value}"
@page "/mauiTicket"
@using MauiTickets.Services
@using TicketLibrary.Services
@inject ITicketService service

<h3>MauiTickets</h3>

<TicketLibrary.Pages.Tickets></TicketLibrary.Pages.Tickets>

<p>@Value</p>

@code {
    [Parameter]
    public string Value { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if(Value == null) { Value = "20"; }
        await service.SetTimer(Int32.Parse(Value));

        //run this if your local database has more rows than the azure database
        //await service.ResetLocalTicketsDB();


        //await service.SyncDatabases();            
       
        StateHasChanged();
    }

}
