@page "/testEmail"
@using Microsoft.Extensions.Configuration
@using TicketLibrary.Services
@using Microsoft.AspNetCore
@using System.Drawing;
@using QRCoder;
@using System.Drawing.Imaging;
@using System.Drawing;
@inject IConfiguration config;


<PageTitle>QR Code Generator</PageTitle>

<h3>PurchaseTickets</h3>

<button @onclick="sendMail">Send Email</button>

<div class="input-group">
    <div class="col-sm-6">
        <label class="mb-3">QR Code Text</label>
        <input type="text" @bind-value="QRCodeText" placeholder="Enter your text" class="form-control mb-4" />
    </div>
</div>



@code {
    MailMailMail mailSender = new();
    public string QRCodeText { get; set; }
    public string QRByte = "place holder";
    private IConfiguration _config;

    protected override Task OnInitializedAsync()
    {

        _config = config;
        return base.OnInitializedAsync();
    }

    public void sendMail()
    {
        var emailPassword = _config["emailPassword"];

       QRByte = generateQRCode.GenerateQRCodeBase64(QRCodeText);
        mailSender.sendEmail("a73440661@gmail.com", "zkup konn xlui ygec", "blancocastrocarlosfelipe@gmail.com", QRByte);
    }
}

