
@using System.Net.Mail
@using TicketLibrary.Services
@using TicketLibrary.Data

@inject IEventService eventService
@inject ITicketService ticketService


<h3>Events</h3>

<div class="container">

    @foreach(var e in events)
    {
    <div class="row">
        <div class="col-sm">
            <img src="/Images/Event.jpg" alt="I exist" />
            <div>@e.EventName</div>
            <button @onclick="PurchaseTicket">PURCHASE TICKET</button>
            <input type="text" @bind="email" />
            <button @onclick="() => confirmPurchase(e.Id)">CONFIRM</button>
        </div>
    </div>
    }
</div>

@code {
    public List<Event> events = new();
    public string email = "";

    protected override async Task OnInitializedAsync()
    {
        events = await eventService.GetAllEventsAsync();
    }

    public void PurchaseTicket()
    {

    }


    //send the email with qr code
    public void confirmPurchase(int eId)
    {
        Ticket newTicket = new Ticket()
            { EventId = eId, IsScanned = false, UserEmail = email };


        if(IsValidEmail(email))
        {
            ticketService.AddATicket(newTicket);
        }
    }

    public bool IsValidEmail(string anEmailAddress)
    {
        try
        {
            MailAddress m = new MailAddress(anEmailAddress);
            return true;
        }
        catch (FormatException)
        {
            return false;
        }
    }
}
