name: aaronrunner
on: [push]
jobs: 
  DeployingPipline: 
    runs-on: tickets-aaron
    steps: 
      - name: "cleaning for aaron"
        run: |
          rm -rf ./ticketsrus-aaron-bryce-carlos
      - name: "clone"
        run: git clone https://${{secrets.AARON_MAR_SECRET}}@github.com/SnowSE/ticketsrus-aaron-bryce-carlos.git
      - name: "linting is so simple once their is an .editorconfig"
        run: |
          cd ./ticketsrus-aaron-bryce-carlos
          dotnet format --verify-no-changes
      - name: "Integration tests"
        # when running this command on the command line, add -it remove --user stuff
        # sad I didn't get it to all run in docker 
        #run: docker run --rm -v "$(pwd):/app" -w /app/TestTicket -e DOTNET_CLI_HOME="/tmp/dotnet" --user $(id -u):$(id -g) mcr.microsoft.com/dotnet/sdk:8.0 dotnet test
        run: |
          cd ./ticketsrus-aaron-bryce-carlos/TestTicket
          dotnet test
      - name: "unit tests"
        run: |
          cd ./ticketsrus-aaron-bryce-carlos/UnitTest
          dotnet test
      # - name: "build with warnings"
      #   run: |
      #     cd ./ticketsrus-aaron-bryce-carlos
      #     dotnet build -warnaserror
      - name: "run build"
        run: |
          cd ./ticketsrus-aaron-bryce-carlos/AaronDocker
          docker compose up --build -d
      # - name: "Teams Notification"
      #   uses: skitionek/notify-microsoft-teams@master
      #   if: failure()
      #   with:
      #     webhook_url: ${{ secrets.AARONWEBHOOK }}
      #     needs: ${{ toJson(needs) }}
      #     job: ${{ toJson(job) }}
      #     steps: ${{ toJson(steps) }}
      - name: "Failure Notification"
        uses: skitionek/notify-microsoft-teams@master
        if: failure()
        with:
          webhook_url: ${{ secrets.AARONWEBHOOK}}
          raw: >-
            {
              "@type": "MessageCard",
              "@context": "http://schema.org/extensions",
              "correlationId": "0b72cc8a2cea509ba06b41892066784d7f602834",
              "themeColor": "#345",
              "title": "Aaron had a bad workflow, much shame",
              "summary": "[SnowSE/ticketsrus-aaron-bryce-carlos](https://github.com/SnowSE/ticketsrus-aaron-bryce-carlos)",
              "sections": [
                {
                  "activityTitle": "",
                  "activitySubtitle": "failure",
                  "activityImage": "https://cdn4.iconfinder.com/data/icons/web-design-and-development-88/64/web_application_error_crash_error-512.png"
                }
              ],
              "potentialAction": [
                {
                  "@type": "OpenUri",
                  "name": "Repository",
                  "targets": [
                    {
                      "os": "default",
                      "uri": "https://github.com/SnowSE/ticketsrus-aaron-bryce-carlos"
                    }
                  ]
                },
                {
                  "@type": "OpenUri",
                  "name": "Compare",
                  "targets": [
                    {
                      "os": "default",
                      "uri": "https://github.com/SnowSE/ticketsrus-aaron-bryce-carlos/"
                    }
                  ]
                }
              ],
              "text": ""
            }